[core]
	autocrlf = input
	editor = vim
[credential]
	helper = cache --timeout 3600
[init]
	templateDir = ~/.git/templateDir
[merge]
	tool = vimdiff
	conflictStyle = diff3
[alias]
	co = checkout
[pull]
	rebase = true
